# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

bin

.DS_STORE

app/src/test/resources/*

*.gb
*.gbc
*.rom
*.hprof

.settings/
.project
.classpath
